@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-gray-400 rounded-lg;
}

h1 {
  @apply text-3xl font-sans font-bold;
}

label {
  @apply float-left ml-3 text-gray-700;
}

button {
  @apply bg-blue-600 text-white font-bold py-2 px-4 rounded-full;
}

.blue-icon {
  color: #4c4c4c;
}

.green-icon {
  color: #059669;
}

.red-icon {
  color: #dc2626;
}
.btn {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #8fc1e0);
  background-image: -moz-linear-gradient(top, #0099ff, #8fc1e0);
  background-image: -ms-linear-gradient(top, #0099ff, #8fc1e0);
  background-image: -o-linear-gradient(top, #0099ff, #8fc1e0);
  background-image: linear-gradient(to bottom, #0099ff, #8fc1e0);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  -webkit-box-shadow: 0px 1px 18px #9b33f0;
  -moz-box-shadow: 0px 1px 18px #9b33f0;
  box-shadow: 0px 1px 18px #9b33f0;
  font-family: Georgia;
  color: #ffffff;
  font-size: 22px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact{
  width: 40%;
  margin: 60px auto 60px;
}
.get-in{
  color: #003b63;
}